# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
*.sqlite3
db.sqlite3

# Environments
.env
env/
venv/
ENV/
env.bak/
venv.bak/

# Media/uploads
media/

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
